@tailwind base;
@tailwind components;
@tailwind utilities;

/* COMMON: Start */

/* INPUT: Start */
/* .input-primary {
} */
.input-primary-outline {
  @apply text-gray-900 bg-gray-50 border-gray-300 focus:ring-[#B87817] focus:border-[#B87817] focus:outline-none;
}
.input-disabled {
  @apply text-gray-900 bg-gray-50 border-gray-50 focus:ring-[#B87817] focus:border-[#B87817] focus:outline-none;
}
/* .input-error {
} */

/* BUTTON: Start */
.btn-primary {
  @apply text-white border-2 border-[#572618] bg-[#572618] hover:font-semibold hover:text-[#4B241A] hover:bg-white hover:border-[#4B241A] ease-in-out duration-300;
}

.btn-primary-outline {
  @apply text-[#572618] border-2 border-[#572618] bg-white hover:font-semibold hover:text-white hover:bg-[#4B241A] ease-in-out duration-300;
}
/* BUTTON: END */

/* Tabs: Start */
div[role="tablist"] {
  @apply justify-center space-x-0 font-medium text-center max-w-fit mx-auto rounded-3xl bg-gray-200 mt-3 mb-1;
}

button[role="tab"] {
  @apply rounded-3xl w-32 py-2 focus:ring-0;
}

button[role="tab"][aria-selected="true"] {
  @apply text-[#EFEFEF] font-semibold bg-[#4B241A] cursor-default;
}

button[role="tab"][aria-selected="false"] {
  @apply text-[#4B241A] hover:bg-[#4B241A] hover:text-[#EFEFEF] hover:font-semibold ease-in-out duration-300;
}

/* Tabs: End */

/* COMMON: End */

/* GUEST: Start */
.menu-item-active,
.menu-item {
  position: relative;
  display: inline-block;
}

.menu-item-active::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 20%;
  height: 4px;
  background-color: #4b241a;
  border-radius: 10px;
}

.swiper_container {
  height: 30rem;
  padding: 1rem;
  position: relative;
}

.swiper-slide {
  width: 337px;
  height: 332px;
  position: relative;
}

.swiper-slide.swiper-slide-next.swiper-slide-visible {
  background-color: red !important;
}

/* .swiper-slide-shadow-left {
  border-radius: 4rem;
} */

@media {
  .swiper_container {
    height: 47rem;
  }
  .swiper-slide,
  .swiper-slide-shadow-left,
  .swiper-slide-shadow-right {
    width: 337px !important;
    height: 332px !important;
    border-radius: 4rem;
    overflow: hidden;
  }
  .swiper-slide img {
    width: 337px !important;
    height: 332px !important;
  }
}

.slider-controler {
  position: relative;
  bottom: 15rem;
  display: flexbox;
  align-items: center;
  justify-content: center;
}

.swiper-pagination .swiper-pagination-bullet-active {
  background: #4b241a;
}

.jumbotron-image {
  width: 100%;
  margin-top: 60px;
  border-bottom-right-radius: 250px;
}

.menu-item::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 0%;
  height: 4px;
  background-color: #4b241a;
  border-radius: 10px;
  transition: opacity 0.4s ease, width 0.4s ease;
  opacity: 0;
}

.menu-item:hover {
  font-weight: 600;
  color: #4b241a;
}

.menu-item:hover::after {
  opacity: 1;
  width: 25%;
}

.custom-height {
  height: 500px; /* Atur tinggi sesuai kebutuhan Anda */
}

@media (min-width: 768px) {
  .custom-height {
    height: 600px; /* Atur tinggi untuk tampilan desktop */
  }
}
/* GUEST: End */

/* ADMIN: Start */
.quill {
  @apply border-2 rounded-2xl bg-gray-50 border-gray-300 focus:ring-[#B87817] focus:border-[#B87817] focus:outline-none;
}

.ql-toolbar {
  border-top: none !important;
  border-left: none !important;
  border-right: none !important;
  border-bottom: 1px solid #d1d5db;
}

.ql-container {
  border: none !important;
}
/* ADMIN: End */
