@tailwind base;
@tailwind components;
@tailwind utilities;

/* COMMON: Start */

/* INPUT: Start */
/* .input-primary {
} */
.input-primary-outline,
.input-primary-outline-search,
.textarea-primary-outline {
  @apply text-gray-900 bg-gray-50 border-gray-300 focus:ring-[#d67026] focus:border-[#d67026] focus:outline-none;
}

.input-disabled,
.textarea-disabled {
  @apply text-gray-900 bg-gray-50 border-gray-50 focus:ring-[#d67026] focus:border-[#d67026] focus:outline-none;
}

.input-error,
.textarea-error {
  @apply text-gray-900 bg-gray-50 border-red-500 focus:ring-[#d67026] focus:border-[#d67026] focus:outline-none;
}

/* w-8/12 md:w-1/3 xl:w-1/5 */

/* BUTTON: Start */
.btn-primary-large {
  @apply bg-[#4B241A] py-3 rounded-3xl shadow-[0_6px_6px_0_rgba(0,0,0,0.25)] font-semibold text-center lg:tracking-wider  text-[#EFEFEF] text-xl lg:text-2xl;
}

.btn-primary {
  @apply text-white text-base border-2 border-[#4B241A] bg-[#4B241A] hover:font-semibold hover:text-[#4B241A] hover:bg-white hover:border-[#4B241A] ease-in-out duration-300;
}

.btn-primary-outline {
  @apply text-[#4B241A] border-2 border-[#4B241A] bg-white hover:font-semibold hover:text-white hover:bg-[#4B241A] ease-in-out duration-300;
}

.btn-update {
  @apply text-white border-2 border-yellow-400 bg-yellow-400 hover:font-semibold hover:text-yellow-400 hover:bg-white hover:border-yellow-400 ease-in-out duration-300;
}

.btn-delete {
  @apply text-white border-2 border-red-700 bg-red-700 hover:font-semibold hover:text-red-700 hover:bg-white hover:border-red-700 ease-in-out duration-300;
}
/* BUTTON: End */

/* REACT SELECT: Start */
.css-13cymwt-control {
  @apply w-full px-2 text-sm bg-gray-50 border-2 rounded-2xl shadow !important;
}

.input .css-13cymwt-control {
  @apply border-gray-300 !important;
}

.input-error .css-13cymwt-control {
  @apply border-red-500  !important;
}

.css-t3ipsp-control {
  @apply text-gray-900 px-2 text-sm rounded-2xl outline-none shadow-none border-2 ring-1 ring-[#d67026] border-[#d67026] !important;
}

.select__menu {
  @apply text-sm block !important;
}
/* REACT SELECT: End */

/* CUSTOM SCROLLBAR: Start */
.custom-scrollbar::-webkit-scrollbar {
  display: none;
}

.custom-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
/* CUSTOM SCROLLBAR: End */

/* Tabs: Start */
div[aria-label="Tabs with underline"] button {
  @apply text-base text-gray-600 focus:ring-0;
}
div[aria-label="Tabs with underline"] button[aria-selected="true"] {
  @apply font-semibold text-[#4B241A] border-[#4B241A];
}

div[aria-label="Pills"] {
  @apply flex-nowrap justify-center space-x-0 font-medium text-center max-w-full w-9/12 mx-auto rounded-3xl bg-gray-200 mt-3 mb-1;
}

div[aria-label="Pills"] button[role="tab"] {
  @apply w-full rounded-3xl py-2 focus:ring-0;
}

div[aria-label="Pills"] button[role="tab"][aria-selected="true"] {
  @apply text-[#EFEFEF] font-semibold bg-[#4B241A] cursor-default;
}

div[aria-label="Pills"] button[role="tab"][aria-selected="false"] {
  @apply text-[#4B241A] hover:bg-[#4B241A] hover:text-[#EFEFEF] hover:font-semibold ease-in-out duration-300;
}
/* Tabs: End */

/* Tooltip: Start */
div[data-testid="flowbite-tooltip"],
div[data-testid="flowbite-tooltip-arrow"] {
  @apply bg-gray-600;
}
/* Tooltip: End */

/* Toast: Start */
:root {
  --toastify-color-success: #138a36 !important;
  --toastify-font-family: "Quicksand", "sans-serif" !important;
}
.Toastify__toast {
  @apply rounded-xl !important;
}
.Toastify__toast-body {
  @apply font-medium !important;
}
/* Toast: End */

/* COMMON: End */

/* GUEST: Start */
.menu-item-active,
.menu-item {
  @apply relative flex items-center justify-between lg:block py-2 px-3 md:py-2 md:px-5;
}

.menu-item-active {
  @apply underline lg:no-underline;
}

.menu-item-active::after {
  @apply absolute bottom-0 left-1/2 transform -translate-x-1/2 lg:w-1/5 h-1 bg-[#4b241a] rounded-lg;
  content: "";
}

.menu-item::after {
  @apply absolute bottom-0 left-1/2 transform -translate-x-1/2 h-1 bg-[#4b241a] rounded-lg opacity-0 transition-opacity transition-width duration-300 ease-in-out;
  content: "";
  width: 0%;
}

.menu-item {
  @apply hover:font-semibold hover:text-[#4b241a] hover:underline ease-in-out duration-300 transition-all lg:hover:no-underline lg:hover:after:opacity-[1] lg:hover:after:w-1/4;
}

iframe {
  @apply w-full h-full rounded-lg shadow !important;
}

.swiper-slide,
.swiper-slide-shadow-left,
.swiper-slide-shadow-right {
  width: 337px !important;
  height: 332px !important;
  border-radius: 4rem;
  overflow: hidden;
}
.swiper-slide img {
  width: 100% !important;
  height: 100% !important;
}

.slider-controler {
  margin-bottom: 3rem;
}

.swiper-pagination .swiper-pagination-bullet-active {
  background: #4b241a;
}

.jumbotron-image {
  width: 100%;
  margin-top: 60px;
  border-bottom-right-radius: 250px;
}

.custom-height {
  height: 500px; /* Atur tinggi sesuai kebutuhan Anda */
}

@media (min-width: 768px) {
  .custom-height {
    height: 600px; /* Atur tinggi untuk tampilan desktop */
  }
}
/* GUEST: End */

/* ADMIN: Start */
/* dropdown */
div[data-testid="flowbite-dropdown"] {
  @apply bg-white min-w-32 max-w-fit rounded-xl shadow font-semibold overflow-hidden;
}

button[data-testid="flowbite-dropdown-target"] {
  @apply text-gray-900 bg-gray-100 border border-gray-300 rounded-2xl sm:rounded-e-none hover:bg-gray-200 focus:ring-1 focus:ring-[#d67026] focus:border-[#d67026] focus:outline-none w-full shadow sm:shadow-none sm:w-fit   !important;
}

button[data-testid="flowbite-dropdown-target"] span {
  @apply flex w-full justify-between text-base !important;
}

button[data-testid="flowbite-dropdown-target"] span svg {
  @apply mt-1 !important;
}

li[role="menuitem"] button,
li[role="menuitem"] a {
  @apply text-base text-slate-700;
}

li[role="menuitem"] button svg,
li[role="menuitem"] a svg {
  @apply w-5 h-5 mr-3;
}

.react-quill-container {
  @apply border-2 rounded-2xl mt-2 bg-gray-50 shadow;
}

.react-quill-container.focus {
  @apply ring-[#d67026] ring-1 border-2 border-[#d67026] outline-none;
}

.ql-toolbar {
  @apply border-x-0 border-t-0 border-b-[#d1d5db] !important;
}

.ql-snow .ql-picker {
  @apply font-quicksand;
}

.ql-container {
  @apply border-none h-28 !important;
}

.ql-editor {
  @apply font-quicksand;
}

.quill > .ql-container > .ql-editor.ql-blank::before {
  @apply text-sm text-gray-500 not-italic content-['Masukkan_deskripsi..'] !important;
}

/* Calendar: Start */
.calendar-admin .rs-calendar-body {
  @apply px-0 !important;
}

.calendar-admin .rs-calendar-table-cell-content {
  @apply h-fit py-2 hover:bg-[#ffe9dd] !important;
}

.calendar-admin .rs-calendar-table-cell-content span {
  @apply mt-0 !important;
}

.calendar-admin .rs-calendar-table-cell.rs-calendar-table-cell-is-today span {
  @apply bg-[#fc6a2f] !important;
}

.calendar-admin
  .rs-calendar-table-cell.rs-calendar-table-cell-selected
  .rs-calendar-table-cell-content {
  @apply ring-1 ring-[#fc6a2f] ring-offset-0  !important;
}
/* Calendar: Start */
/* ADMIN: End */
